* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

body a {
	text-decoration: none;
}

header {
	width: 30%;
	color: white;
	margin: 50px auto 0px;
	background: #5f9ea0;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #B0C4DE;
	border-bottom: none;
	padding: 20px;
	border-radius: 20px;
	opacity: 0.6;
	background-image: url("./images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

.header1 {
	background-color: #5f9ea0;
	color: white;
	height: 50px;
	text-align: left;
	line-height: 50px;
	position: fixed;
	width: 100%;
	padding-left: 10px;
	font-weight: bolder;
	font-size: 30px;
}

.header1 a {
	color: #fff;
	text-decoration: none;
}

form {
	background-color: white;
	text-align: center;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #B0C4DE;
	border-radius: 10px;
}

.dd {
	border: none;
}

form input {
	margin: 10px;
	border-radius: 5px;
	font-size: 15px;
	height: 20px;
	padding: 10px;
	width: 80%;
	border: 1px solid gray;
}

form select {
	margin: 10px;
	border-radius: 5px;
	font-size: 15px;
	height: 40px;
	padding: 10px;
	width: 85%;
	border: 1px solid gray;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
	padding-left: 20px;
}

.btn {
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 15px;
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background: #5f9ea0;
	cursor: pointer;
	font-weight: bolder;
}

.btn:hover {
	background-color: #eaeaea;
	color: black;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

.btn2 {
	display: inline-block;
	background: #333;
	color: #fff;
	text-decoration: none;
	padding: 1em 2em;
	border: 1px solid #666;
	margin: .5em 0;
	width: 70px;
}

.btn2:hover {
	background: #eaeaea;
	color: #333;
}

#showcase {
	min-height: 450px;
	color: #fff;
	text-align: center;
}

.white {
	color: #5f9ea0;
}

.header-line2 {
	color: #5f9ea0;
	font-style: italic;
}

#showcase {
	background-color: #fff;
	background-image: url("./images/bg2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	z-index: -1;
	color: black;
}

#showcase .textshow {
	color: black;
}

#showcase.grid {
	color: black;
	height: 570px;
}

#showcase h1 {
	padding-top: 100px;
	padding-bottom: 0;
}

#section-a {
	background: #eaeaea;
	color: #333;
	padding-bottom: 2em;
}

#section-b {
	padding: 2em 1em 1em;
}

#section-b ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#section-b li {
	margin-bottom: 1em;
	background: #fff;
	color: #333;
}

.card-content {
	padding: 1.5em;
}

#section-d .box {
	padding: 2em;
	color: #fff;
}

#section-d .box:first-child {
	background: #2690d4;
}

.grid-body {
	background-color: #eef1f7;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 170px;
	margin-top: 10px;
	border-radius: 7px;
	line-height: 30px;
}

.grid-p {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	padding: 0;
}

#main-footer {
	padding: 1.5em;
	background: black;
	color: white;
	text-align: center;
	height: 10px;
	margin: 0px;
}

.footer1 {
	height: auto;
	position: fixed;
	width: 100%;
	padding: 10px;
	background-color: #35475e;
	color: white;
	font-size: 17px;
	font-family: Segoe-UI, sans-serif;
}

.footer-table {
	width: 100%;
	margin: 0;
	padding: 0px;
	line-height: 30px;
}

.footer-td {
	width: 50%;
	text-align: left;
}

.footer-td2 {
	width: 35%;
	text-align: right;
}

.modal-window {
	position: fixed;
	background-color: rgba(200, 200, 200, 0.75);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-window:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-window>div {
	width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 1rem;
	background: #fff;
	color: #444;
	text-align: center;
}

.modal-window header {
	font-weight: bold;
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 80px;
	text-decoration: none;
}

.modal-close:hover {
	color: #000;
}

.modal-window h1 {
	font-size: 100%;
	margin: 0 0 5px;
}

.form-modal {
	width: 80%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	height:auto;
}

.td1 {
	padding-left: 120px;
}

@media screen and (min-width:200px) {
	.td1 {
		padding-left: 20px;
	}
}

.tbl1 {
	padding-left: 120px;
}

.tbl2 {
	padding-right: 70px;
}

.steps {
	display: flex;
	justify-content: center;
}

.column.step {
	flex-basis: 50%;
	flex-direction: column;
	padding: 5px 15px;
}

.section-title, .section-text {
	position: relative;
	margin-bottom: 15px;
	color: black;
	border-radius: 7px;
	padding: 5px;
}

.step-title {
	font-size: 30px;
	font-weight: bolder;
}

.container8 {
	max-width: 1200px;
	margin: 0 auto;
}

.step-indicator8 {
	margin-top: 50px;
	display: flex;
	align-items: center;
	padding: 0 40px;
}

.step8 {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.step-indicator8 .step-icon8 {
	height: 50px;
	width: 70px;
	border-radius: 50%;
	background: #c2c2c2;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
	position: relative;
	line-height: 50px;
	font-size: 20px;
}

.step8.active .step-icon8 {
	background: crimson;
}

.step8 p {
	text-align: center;
	position: absolute;
	bottom: -40px;
	color: #c2c2c2;
	font-size: 14px;
	font-weight: bold;
}

.step8.active p {
	color: crimson;
}

.step8.step2 p, .step8.step3 p {
	left: 50%;
	transform: translateX(-50%);
}

.indicator-line8 {
	width: 100%;
	height: 2px;
	background: #c2c2c2;
	flex: 1;
}

.indicator-line8.active {
	background: crimson;
}

@media screen and (max-width: 500px) {
	.step8 p {
		font-size: 11px;
		bottom: -20px;
	}
}

.inline {
	display: inline-block;
}

.footercolor {
	background-color: #EFBFA8;
	font-size: 15px;
}

.headline_intro {
	width: 100%;
	display: flex;
	margin-top: 50px;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.mt {
	margin-top: 20px;
}

.modaloverflow {
	text-align: center;
	overflow: scroll;
}

.modaloverflow2 {
	overflow: scroll;
}

.fp {
	font-size: 15px;
	color: #5f9ea0;
}

.footer_align {
	color: gray;
	padding-left: 15px;
	cursor: pointer;
}

.footer_align a {
	color: gray;
	padding-left: 15px;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left:auto;
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.75);
}

/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal>div {
	width: 400px;
	height: auto;
	position: relative;
	margin: 3% auto;
	padding: 1rem;
	background: #fff;
	color: #444;
	text-align:center;
  }

  .modal h1 {
	font-size: 100%;
	margin: 0 0 3px;
  }

.info-msg,
.success-msg,
.warning-msg {
  margin: 10px 0;
  padding: 10px;
	border-radius: 3px 3px 3px 3px;
	display: none;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
	background-color: #FFBABA;
	
}

#loader-overlay{
    height: 100%;
    width: 100%;
    background: #5f9ea0;
    position: fixed;
    left: 0;
    top: 0px;
}
.loader{
    margin: 15em auto;
    border: 16px solid #e3e3e3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.error-message{
	color: red;
}